proxies:
  - {"name":"TG@ZDYZ2 🇸🇬 SG 188\r\r\r","type":"ss","server":"52.221.191.251","port":443,"password":"amazonskr05","cipher":"aes-256-cfb"}
  - {"name":"17|🇸🇬 狮城特殊2|@ripaojiedian\r\r\r","type":"ss","server":"13.231.164.174","port":443,"password":"amazonskr05","cipher":"aes-256-cfb"}
  - {"name":"🇬🇧GB-45.154.14.209-1719","type":"vmess","server":"45.154.14.209","port":48852,"cipher":"auto","uuid":"557769ba-e085-49ef-8ac6-96cf3d1a9730","alterId":0,"tls":false,"skip-cert-verify":true,"network":"http"}
  - {"name":"🇯🇵JP-172.207.117.56-0252\r\r\r","type":"trojan","server":"hk03.trojanyyds.xyz","port":443,"udp":true,"password":"93ec7261-1c92-4149-848a-26b6fb9fc4ce","sni":"hk03.trojanyyds.xyz","skip-cert-verify":true,"network":"tcp"}
  - {"name":"🇺🇸 kun.ey 美国\r\r","type":"vless","server":"saltyfish.kun.cy","port":443,"uuid":"78830600-98ef-49a0-b9af-eae0e945e339","tls":true,"servername":"saltyfish.kun.cy","flow":"xtls-rprx-vision","network":"tcp","client-fingerprint":"chrome"}
  - {"name":"%F0%9F%87%BA%F0%9F%87%B8%20hy2%20%E7%BE%8E%E5%9B%BD","type":"hysteria2","server":"23.94.255.112","port":8443,"password":"ec4a39403fe3b7d8","sni":"bing.com","skip-cert-verify":true}
  - {"name":"hetzener online 67","type":"vmess","server":"104.22.51.162","port":80,"cipher":"auto","uuid":"7022982f-da4c-48c9-c660-b2315abdcf7e","alterId":0,"tls":false,"skip-cert-verify":true,"network":"ws","ws-opts":{"path":"/?ed=2048","headers":{"host":"my1.tooters.ir"}}}
  - {"name":"%252525252525252525F0%2525252525252525259F%25252525252525252594%2525252525252525259D3%252525252525252540oneclickvpnkeys%25252525252525250D%25252525250D%25250D","type":"hysteria","server":"108.181.22.239","port":39967,"sni":"bing.com","skip-cert-verify":true,"alpn":["h3"],"protocol":"udp","auth_str":"dongtaiwang.com","up":11,"down":55}
  - {"name":"🇺🇸 oracle 美国\r\r","type":"vless","server":"143.47.241.46","port":16097,"udp":true,"uuid":"378387d5-4370-4e38-9661-25796e8630ba","tls":true,"servername":"www.amazon.com","flow":"xtls-rprx-vision","network":"tcp","reality-opts":{"public-key":"qMH_7IYKzR0mOLN35mnQijwzN8IiWdudhryTHaQzWS0"},"client-fingerprint":"chrome"}
  - {"name":"%252525252525252525F0%2525252525252525259F%25252525252525252587%252525252525252525BA%252525252525252525F0%2525252525252525259F%25252525252525252587%252525252525252525B2h1%252525252525252540oneclickvpnkeys%25252525252525250D%25252525250D%25250D","type":"hysteria","server":"173.234.25.52","port":30072,"sni":"bing.com","skip-cert-verify":true,"alpn":["h3"],"protocol":"udp","auth_str":"dongtaiwang.com","up":11,"down":55}
  - {"name":"%252525252525252525F0%2525252525252525259F%25252525252525252587%252525252525252525BA%252525252525252525F0%2525252525252525259F%25252525252525252587%252525252525252525B29%252525252525252540oneclickvpnkeys%25252525252525250D%25252525250D%25250D","type":"hysteria","server":"167.160.91.115","port":41189,"sni":"www.amazon.cn","skip-cert-verify":true,"alpn":["h3"],"protocol":"udp","auth_str":"bWAwIqINo7XDm1fUlXQGBifVIXoYs1ylgVKqWFKzK1XyDKuwNF","up":11,"down":55}
  - {"name":"PROXY_MTM`\r\r\r","type":"vless","server":"45.32.8.113","port":443,"uuid":"91a51e66-1a18-445c-9b80-74166a59cfb5","tls":true,"servername":"jp-s6.n5-fatvpn.top","flow":"xtls-rprx-vision","network":"tcp"}
  - {"name":"🐔 背带裤-79\r\r\r","type":"trojan","server":"104.16.192.155","port":443,"udp":true,"password":"e8105dfd24414268b6c7652c63731097","sni":"jobscareerfortoday.com","skip-cert-verify":true,"network":"ws","ws-opts":{"path":"6b777a91","headers":{"host":"jobscareerfortoday.com"}}}
  - {"name":"🇸🇬SG_ 9032 @WangCai_1\r\r\r","type":"ss","server":"103.172.116.94","port":9032,"password":"UWZQeLRWnkqgkseq","cipher":"aes-256-cfb"}
  - {"name":"🇺🇸US-15.197.192.7-1425","type":"vmess","server":"ap-northeast-anycast.lnaspiring.com","port":80,"cipher":"auto","uuid":"ad47096a-041a-4420-8b01-d839d3439cf8","alterId":0,"tls":false,"skip-cert-verify":true,"network":"ws","ws-opts":{"path":"/geg/45?ed=2048","headers":{"host":"jpli.edge.233.tw"}}}
  - {"name":"新加坡 爱坤之唱跳rap18\r\r\r","type":"ss","server":"103.172.116.94","port":9007,"password":"kSPmvwdFzGMMW5pY","cipher":"aes-256-cfb"}
  - {"name":"爱坤之唱跳rap44\r\r\r","type":"ss","server":"103.172.116.94","port":9024,"password":"BejrQvtu9sqUeNuZ","cipher":"aes-256-cfb"}
  - {"name":"🇸🇬SG_ 9045 @WangCai_1\r\r\r","type":"ss","server":"103.172.116.94","port":9045,"password":"Lp27rqyJq72bZsqX","cipher":"aes-256-cfb"}
  - {"name":"爱坤之唱跳rap14\r\r\r","type":"ss","server":"103.172.116.94","port":9046,"password":"NvS8N4Vf8qAGPSCL","cipher":"aes-256-cfb"}
  - {"name":"🇸🇬SG-103.172.116.94-9299\r\r\r","type":"ss","server":"103.172.116.94","port":9056,"password":"rNBfNuuANFCAk7KB","cipher":"aes-256-cfb"}
  - {"name":"🇸🇬SG_ 9059 @WangCai_1\r\r\r","type":"ss","server":"103.172.116.94","port":9059,"password":"9XwYyZsK8SNzQDtY","cipher":"aes-256-cfb"}
  - {"name":"🇸🇬SG_ 9079 @WangCai_1\r\r\r","type":"ss","server":"103.172.116.94","port":9079,"password":"TPqX8edgbAURcAMb","cipher":"aes-256-cfb"}
  - {"name":"HW 10\r\r","type":"ss","server":"13.212.90.5","port":443,"password":"amazonskr05","cipher":"aes-256-cfb"}
