proxies:
- name: vless-reality-vision
  type: vless
  server: happly.cloudns.org
  port: 55639
  uuid: ad0c09da-fec0-4b3d-990a-4a46ef68dcf2
  network: tcp
  udp: true
  tls: true
  flow: xtls-rprx-vision
  servername: www.yahoo.com
  reality-opts:
    public-key: aa-iRidy7C_hduX-h-A-zjzeBngCQ-Rdtb6kukziKQ4
    short-id: d37a063a
  client-fingerprint: chrome
- name: vmess-ws
  type: vmess
  server: 172.67.52.246
  port: 8880
  uuid: ad0c09da-fec0-4b3d-990a-4a46ef68dcf2
  alterId: 0
  cipher: auto
  tls: false
  skip-cert-verify: true
  network: ws
  ws-opts:
    path: ad0c09da-fec0-4b3d-990a-4a46ef68dcf2-vm
    headers:
      Host: bernard-view-holland-marcus.trycloudflare.com
- name: hysteria2
  type: hysteria2
  server: happly.cloudns.org
  port: 35314
  password: ad0c09da-fec0-4b3d-990a-4a46ef68dcf2
  alpn:
    - h3
  sni: happly.cloudns.org
  skip-cert-verify: false
  fast-open: true
- name: tuic5
  server: happly.cloudns.org
  port: 8054
  type: tuic
  uuid: ad0c09da-fec0-4b3d-990a-4a46ef68dcf2
  password: ad0c09da-fec0-4b3d-990a-4a46ef68dcf2
  alpn: [h3]
  disable-sni: true
  reduce-rtt: true
  udp-relay-mode: native
  congestion-controller: bbr
  sni: happly.cloudns.org
  skip-cert-verify: false
