proxies:
  - {"name":"剩余流量：53.93% 3.16TB","type":"ssr","server":"www.google.com","port":10086,"password":"breakwall","cipher":"dummy","obfs":"tls1.2_ticket_auth","protocol":"auth_chain_a","group":"Line in China企業"}
  - {"name":"过期时间：2024-01-04 00:00:00","type":"ssr","server":"www.google.com","port":10086,"password":"breakwall","cipher":"dummy","obfs":"tls1.2_ticket_auth","protocol":"auth_chain_a","group":"Line in China企業"}
  - {"name":"Singapore-CN2-01 - 457 单端口","type":"ssr","server":"sg-01.xm1s.top","port":457,"password":"UtFRxN","cipher":"dummy","obfs":"plain","protocol":"auth_chain_a","obfs-param":"wns.windows.com","protocol-param":"2870:ADgy5i","group":"Line in China企業"}
  - {"name":"Singapore-CN2-01 - 458 单端口","type":"ssr","server":"sg-01.xm1s.top","port":458,"password":"MKaQhd","cipher":"dummy","obfs":"plain","protocol":"auth_chain_b","obfs-param":"wns.windows.com","protocol-param":"2870:ADgy5i","group":"Line in China企業"}
  - {"name":"Singapore-CN2-02 - 457 单端口","type":"ssr","server":"sg-02.xm1s.top","port":457,"password":"UtFRxN","cipher":"dummy","obfs":"plain","protocol":"auth_chain_a","obfs-param":"wns.windows.com","protocol-param":"2870:ADgy5i","group":"Line in China企業"}
  - {"name":"Singapore-CN2-02 - 458 单端口","type":"ssr","server":"sg-02.xm1s.top","port":458,"password":"MKaQhd","cipher":"dummy","obfs":"plain","protocol":"auth_chain_b","obfs-param":"wns.windows.com","protocol-param":"2870:ADgy5i","group":"Line in China企業"}
  - {"name":"Singapore-CN2-03 - 457 单端口","type":"ssr","server":"sg-03.xm1s.top","port":457,"password":"UtFRxN","cipher":"dummy","obfs":"plain","protocol":"auth_chain_a","obfs-param":"wns.windows.com","protocol-param":"2870:ADgy5i","group":"Line in China企業"}
  - {"name":"Singapore-CN2-03 - 458 单端口","type":"ssr","server":"sg-03.xm1s.top","port":458,"password":"MKaQhd","cipher":"dummy","obfs":"plain","protocol":"auth_chain_b","obfs-param":"wns.windows.com","protocol-param":"2870:ADgy5i","group":"Line in China企業"}
  - {"name":"Singapore-CN2-04 - 457 单端口","type":"ssr","server":"sg-04.xm1s.top","port":457,"password":"UtFRxN","cipher":"dummy","obfs":"plain","protocol":"auth_chain_a","obfs-param":"wns.windows.com","protocol-param":"2870:ADgy5i","group":"Line in China企業"}
  - {"name":"Singapore-CN2-04 - 458 单端口","type":"ssr","server":"sg-04.xm1s.top","port":458,"password":"MKaQhd","cipher":"dummy","obfs":"plain","protocol":"auth_chain_b","obfs-param":"wns.windows.com","protocol-param":"2870:ADgy5i","group":"Line in China企業"}
  - {"name":"Singapore-CN2-05 - 457 单端口","type":"ssr","server":"sg-05.xm1s.top","port":457,"password":"UtFRxN","cipher":"dummy","obfs":"plain","protocol":"auth_chain_a","obfs-param":"wns.windows.com","protocol-param":"2870:ADgy5i","group":"Line in China企業"}
  - {"name":"Singapore-CN2-05 - 458 单端口","type":"ssr","server":"sg-05.xm1s.top","port":458,"password":"MKaQhd","cipher":"dummy","obfs":"plain","protocol":"auth_chain_b","obfs-param":"wns.windows.com","protocol-param":"2870:ADgy5i","group":"Line in China企業"}
  - {"name":"中華電01a - 457 单端口","type":"ssr","server":"hkt-imsbiz-01.xm1s.top","port":457,"password":"UtFRxN","cipher":"dummy","obfs":"plain","protocol":"auth_chain_a","obfs-param":"wns.windows.com","protocol-param":"2870:ADgy5i","group":"Line in China企業"}
  - {"name":"中華電01a - 458 单端口","type":"ssr","server":"hkt-imsbiz-01.xm1s.top","port":458,"password":"MKaQhd","cipher":"dummy","obfs":"plain","protocol":"auth_chain_b","obfs-param":"wns.windows.com","protocol-param":"2870:ADgy5i","group":"Line in China企業"}
  - {"name":"中華電02a - 457 单端口","type":"ssr","server":"hkt-imsbiz-02.xm1s.top","port":457,"password":"UtFRxN","cipher":"dummy","obfs":"plain","protocol":"auth_chain_a","obfs-param":"wns.windows.com","protocol-param":"2870:ADgy5i","group":"Line in China企業"}
  - {"name":"中華電02a - 458 单端口","type":"ssr","server":"hkt-imsbiz-02.xm1s.top","port":458,"password":"MKaQhd","cipher":"dummy","obfs":"plain","protocol":"auth_chain_b","obfs-param":"wns.windows.com","protocol-param":"2870:ADgy5i","group":"Line in China企業"}
  - {"name":"中華電03a - 457 单端口","type":"ssr","server":"hkt-imsbiz-03.xm1s.top","port":457,"password":"UtFRxN","cipher":"dummy","obfs":"plain","protocol":"auth_chain_a","obfs-param":"wns.windows.com","protocol-param":"2870:ADgy5i","group":"Line in China企業"}
  - {"name":"中華電03a - 458 单端口","type":"ssr","server":"hkt-imsbiz-03.xm1s.top","port":458,"password":"MKaQhd","cipher":"dummy","obfs":"plain","protocol":"auth_chain_b","obfs-param":"wns.windows.com","protocol-param":"2870:ADgy5i","group":"Line in China企業"}
  - {"name":"中華電04a - 457 单端口","type":"ssr","server":"hkt-imsbiz-04.xm1s.top","port":457,"password":"UtFRxN","cipher":"dummy","obfs":"plain","protocol":"auth_chain_a","obfs-param":"wns.windows.com","protocol-param":"2870:ADgy5i","group":"Line in China企業"}
  - {"name":"中華電04a - 458 单端口","type":"ssr","server":"hkt-imsbiz-04.xm1s.top","port":458,"password":"MKaQhd","cipher":"dummy","obfs":"plain","protocol":"auth_chain_b","obfs-param":"wns.windows.com","protocol-param":"2870:ADgy5i","group":"Line in China企業"}
  - { name: 香港01, type: trojan, server: tiananmen.19890604.day, port: 10801, password: a5b8fa58-287e-44bd-8e0d-e3653072f625, udp: true, sni: cloudflare.node-ssl.cdn-alibaba.com, skip-cert-verify: true }
  - { name: 香港02, type: trojan, server: tiananmen.19890604.day, port: 10802, password: a5b8fa58-287e-44bd-8e0d-e3653072f625, udp: true, sni: cloudflare.node-ssl.cdn-alibaba.com, skip-cert-verify: true }
  - { name: 香港03, type: trojan, server: tiananmen.19890604.day, port: 10803, password: a5b8fa58-287e-44bd-8e0d-e3653072f625, udp: true, sni: cloudflare.node-ssl.cdn-alibaba.com, skip-cert-verify: true }
  - { name: 香港04, type: trojan, server: tiananmen.19890604.day, port: 10804, password: a5b8fa58-287e-44bd-8e0d-e3653072f625, udp: true, sni: cloudflare.node-ssl.cdn-alibaba.com, skip-cert-verify: true }
  - { name: 香港05, type: trojan, server: tiananmen.19890604.day, port: 10805, password: a5b8fa58-287e-44bd-8e0d-e3653072f625, udp: true, sni: cloudflare.node-ssl.cdn-alibaba.com, skip-cert-verify: true }
  - { name: 香港06, type: trojan, server: tiananmen.19890604.day, port: 10806, password: a5b8fa58-287e-44bd-8e0d-e3653072f625, udp: true, sni: cloudflare.node-ssl.cdn-alibaba.com, skip-cert-verify: true }
  - { name: 香港07, type: trojan, server: tiananmen.19890604.day, port: 10807, password: a5b8fa58-287e-44bd-8e0d-e3653072f625, udp: true, sni: cloudflare.node-ssl.cdn-alibaba.com, skip-cert-verify: true }
  - { name: 香港08, type: trojan, server: tiananmen.19890604.day, port: 10808, password: a5b8fa58-287e-44bd-8e0d-e3653072f625, udp: true, sni: cloudflare.node-ssl.cdn-alibaba.com, skip-cert-verify: true }
  - { name: 香港09家宽, type: trojan, server: tiananmen.19890604.day, port: 10809, password: a5b8fa58-287e-44bd-8e0d-e3653072f625, udp: true, sni: cloudflare.node-ssl.cdn-alibaba.com, skip-cert-verify: true }
  - { name: 香港10家宽, type: trojan, server: tiananmen.19890604.day, port: 10810, password: a5b8fa58-287e-44bd-8e0d-e3653072f625, udp: true, sni: cloudflare.node-ssl.cdn-alibaba.com, skip-cert-verify: true }
  - { name: 日本01, type: trojan, server: xijinping.19890604.day, port: 10811, password: a5b8fa58-287e-44bd-8e0d-e3653072f625, udp: true, sni: cloudflare.node-ssl.cdn-alibaba.com, skip-cert-verify: true }
  - { name: 日本02, type: trojan, server: xijinping.19890604.day, port: 10812, password: a5b8fa58-287e-44bd-8e0d-e3653072f625, udp: true, sni: cloudflare.node-ssl.cdn-alibaba.com, skip-cert-verify: true }
  - { name: 日本03, type: trojan, server: xijinping.19890604.day, port: 10813, password: a5b8fa58-287e-44bd-8e0d-e3653072f625, udp: true, sni: cloudflare.node-ssl.cdn-alibaba.com, skip-cert-verify: true }
  - { name: 日本04, type: trojan, server: xijinping.19890604.day, port: 10814, password: a5b8fa58-287e-44bd-8e0d-e3653072f625, udp: true, sni: cloudflare.node-ssl.cdn-alibaba.com, skip-cert-verify: true }
  - { name: 日本05, type: trojan, server: xijinping.19890604.day, port: 10815, password: a5b8fa58-287e-44bd-8e0d-e3653072f625, udp: true, sni: cloudflare.node-ssl.cdn-alibaba.com, skip-cert-verify: true }
  - { name: 日本06, type: trojan, server: xijinping.19890604.day, port: 10816, password: a5b8fa58-287e-44bd-8e0d-e3653072f625, udp: true, sni: cloudflare.node-ssl.cdn-alibaba.com, skip-cert-verify: true }
  - { name: 日本07, type: trojan, server: xijinping.19890604.day, port: 10817, password: a5b8fa58-287e-44bd-8e0d-e3653072f625, udp: true, sni: cloudflare.node-ssl.cdn-alibaba.com, skip-cert-verify: true }
  - { name: 日本08, type: trojan, server: xijinping.19890604.day, port: 10818, password: a5b8fa58-287e-44bd-8e0d-e3653072f625, udp: true, sni: cloudflare.node-ssl.cdn-alibaba.com, skip-cert-verify: true }
  - { name: 美国01, type: trojan, server: falungong.19890604.day, port: 10819, password: a5b8fa58-287e-44bd-8e0d-e3653072f625, udp: true, sni: cloudflare.node-ssl.cdn-alibaba.com, skip-cert-verify: true }
  - { name: 美国02, type: trojan, server: falungong.19890604.day, port: 10820, password: a5b8fa58-287e-44bd-8e0d-e3653072f625, udp: true, sni: cloudflare.node-ssl.cdn-alibaba.com, skip-cert-verify: true }
  - { name: 美国03, type: trojan, server: falungong.19890604.day, port: 10821, password: a5b8fa58-287e-44bd-8e0d-e3653072f625, udp: true, sni: cloudflare.node-ssl.cdn-alibaba.com, skip-cert-verify: true }
  - { name: 美国04, type: trojan, server: falungong.19890604.day, port: 10822, password: a5b8fa58-287e-44bd-8e0d-e3653072f625, udp: true, sni: cloudflare.node-ssl.cdn-alibaba.com, skip-cert-verify: true }
  - { name: 美国05, type: trojan, server: falungong.19890604.day, port: 10823, password: a5b8fa58-287e-44bd-8e0d-e3653072f625, udp: true, sni: cloudflare.node-ssl.cdn-alibaba.com, skip-cert-verify: true }
  - { name: 美国06, type: trojan, server: falungong.19890604.day, port: 10824, password: a5b8fa58-287e-44bd-8e0d-e3653072f625, udp: true, sni: cloudflare.node-ssl.cdn-alibaba.com, skip-cert-verify: true }
  - { name: 美国07, type: trojan, server: falungong.19890604.day, port: 10825, password: a5b8fa58-287e-44bd-8e0d-e3653072f625, udp: true, sni: cloudflare.node-ssl.cdn-alibaba.com, skip-cert-verify: true }
  - { name: 美国08, type: trojan, server: falungong.19890604.day, port: 10826, password: a5b8fa58-287e-44bd-8e0d-e3653072f625, udp: true, sni: cloudflare.node-ssl.cdn-alibaba.com, skip-cert-verify: true }
  - { name: 新加坡01, type: trojan, server: tank.19890604.day, port: 10827, password: a5b8fa58-287e-44bd-8e0d-e3653072f625, udp: true, sni: cloudflare.node-ssl.cdn-alibaba.com, skip-cert-verify: true }
  - { name: 新加坡02, type: trojan, server: tank.19890604.day, port: 10828, password: a5b8fa58-287e-44bd-8e0d-e3653072f625, udp: true, sni: cloudflare.node-ssl.cdn-alibaba.com, skip-cert-verify: true }
  - { name: 新加坡03, type: trojan, server: tank.19890604.day, port: 10829, password: a5b8fa58-287e-44bd-8e0d-e3653072f625, udp: true, sni: cloudflare.node-ssl.cdn-alibaba.com, skip-cert-verify: true }
  - { name: 新加坡04, type: trojan, server: tank.19890604.day, port: 10830, password: a5b8fa58-287e-44bd-8e0d-e3653072f625, udp: true, sni: cloudflare.node-ssl.cdn-alibaba.com, skip-cert-verify: true }
  - { name: 新加坡05, type: trojan, server: tank.19890604.day, port: 10831, password: a5b8fa58-287e-44bd-8e0d-e3653072f625, udp: true, sni: cloudflare.node-ssl.cdn-alibaba.com, skip-cert-verify: true }
  - { name: 新加坡06, type: trojan, server: tank.19890604.day, port: 10832, password: a5b8fa58-287e-44bd-8e0d-e3653072f625, udp: true, sni: cloudflare.node-ssl.cdn-alibaba.com, skip-cert-verify: true }
  - { name: 新加坡07, type: trojan, server: tank.19890604.day, port: 10833, password: a5b8fa58-287e-44bd-8e0d-e3653072f625, udp: true, sni: cloudflare.node-ssl.cdn-alibaba.com, skip-cert-verify: true }
  - { name: 新加坡08, type: trojan, server: tank.19890604.day, port: 10834, password: a5b8fa58-287e-44bd-8e0d-e3653072f625, udp: true, sni: cloudflare.node-ssl.cdn-alibaba.com, skip-cert-verify: true }
  - { name: 台湾01, type: trojan, server: xibaozi.19890604.day, port: 10835, password: a5b8fa58-287e-44bd-8e0d-e3653072f625, udp: true, sni: cloudflare.node-ssl.cdn-alibaba.com, skip-cert-verify: true }
  - { name: 韩国01, type: trojan, server: xibaozi.19890604.day, port: 10836, password: a5b8fa58-287e-44bd-8e0d-e3653072f625, udp: true, sni: cloudflare.node-ssl.cdn-alibaba.com, skip-cert-verify: true }
  - { name: 英国01, type: trojan, server: xibaozi.19890604.day, port: 10837, password: a5b8fa58-287e-44bd-8e0d-e3653072f625, udp: true, sni: cloudflare.node-ssl.cdn-alibaba.com, skip-cert-verify: true }
  - { name: 法国01, type: trojan, server: xibaozi.19890604.day, port: 10838, password: a5b8fa58-287e-44bd-8e0d-e3653072f625, udp: true, sni: cloudflare.node-ssl.cdn-alibaba.com, skip-cert-verify: true }
  - { name: 德国01, type: trojan, server: xibaozi.19890604.day, port: 10839, password: a5b8fa58-287e-44bd-8e0d-e3653072f625, udp: true, sni: cloudflare.node-ssl.cdn-alibaba.com, skip-cert-verify: true }
  - { name: 印度01, type: trojan, server: xibaozi.19890604.day, port: 10840, password: a5b8fa58-287e-44bd-8e0d-e3653072f625, udp: true, sni: cloudflare.node-ssl.cdn-alibaba.com, skip-cert-verify: true }
  - { name: 迪拜01, type: trojan, server: xibaozi.19890604.day, port: 10841, password: a5b8fa58-287e-44bd-8e0d-e3653072f625, udp: true, sni: cloudflare.node-ssl.cdn-alibaba.com, skip-cert-verify: true }
  - { name: 俄罗斯01, type: trojan, server: xibaozi.19890604.day, port: 10844, password: a5b8fa58-287e-44bd-8e0d-e3653072f625, udp: true, sni: cloudflare.node-ssl.cdn-alibaba.com, skip-cert-verify: true }
  - { name: 乌克兰01, type: trojan, server: xibaozi.19890604.day, port: 10845, password: a5b8fa58-287e-44bd-8e0d-e3653072f625, udp: true, sni: cloudflare.node-ssl.cdn-alibaba.com, skip-cert-verify: true }
  - { name: 土耳其01, type: trojan, server: xibaozi.19890604.day, port: 10846, password: a5b8fa58-287e-44bd-8e0d-e3653072f625, udp: true, sni: cloudflare.node-ssl.cdn-alibaba.com, skip-cert-verify: true }
  - { name: 阿根廷01, type: trojan, server: xibaozi.19890604.day, port: 10847, password: a5b8fa58-287e-44bd-8e0d-e3653072f625, udp: true, sni: cloudflare.node-ssl.cdn-alibaba.com, skip-cert-verify: true }
  - { name: 奥地利01, type: trojan, server: xibaozi.19890604.day, port: 10848, password: a5b8fa58-287e-44bd-8e0d-e3653072f625, udp: true, sni: cloudflare.node-ssl.cdn-alibaba.com, skip-cert-verify: true }
  - { name: 意大利01, type: trojan, server: xibaozi.19890604.day, port: 10849, password: a5b8fa58-287e-44bd-8e0d-e3653072f625, udp: true, sni: cloudflare.node-ssl.cdn-alibaba.com, skip-cert-verify: true }
  - { name: 爱尔兰01, type: trojan, server: xibaozi.19890604.day, port: 10850, password: a5b8fa58-287e-44bd-8e0d-e3653072f625, udp: true, sni: cloudflare.node-ssl.cdn-alibaba.com, skip-cert-verify: true }
  - name: "6d64ce0c-VLESS_TCP/TLS_Vision"
    type: vless
    server: ru.summer123.top
    port: 443
    uuid: 6d64ce0c-116d-4986-b47c-2085dfd4bdc8
    network: tcp
    tls: true
    udp: true
    flow: xtls-rprx-vision
    client-fingerprint: chrome
  - name: "6d64ce0c-VLESS_WS"
    type: vless
    server: ru.summer123.top
    port: 443
    uuid: 6d64ce0c-116d-4986-b47c-2085dfd4bdc8
    udp: true
    tls: true
    network: ws
    client-fingerprint: chrome
    servername: ru.summer123.top
    ws-opts:
      path: /hrpews
      headers:
        Host: ru.summer123.top
  - name: "6d64ce0c-vless_grpc"
    type: vless
    server: ru.summer123.top
    port: 443
    uuid: 6d64ce0c-116d-4986-b47c-2085dfd4bdc8
    udp: true
    tls: true
    network: grpc
    client-fingerprint: chrome
    servername: ru.summer123.top
    grpc-opts:
      grpc-service-name: hrpegrpc
  - name: "6d64ce0c-VMess_WS"
    type: vmess
    server: ru.summer123.top
    port: 443
    uuid: 6d64ce0c-116d-4986-b47c-2085dfd4bdc8
    alterId: 0
    cipher: none
    udp: true
    tls: true
    client-fingerprint: chrome
    servername: ru.summer123.top
    network: ws
    ws-opts:
      path: /hrpevws
      headers:
        Host: ru.summer123.top
  - name: "6d64ce0c-trojan_tcp"
    type: trojan
    server: ru.summer123.top
    port: 443
    password: 6d64ce0c-116d-4986-b47c-2085dfd4bdc8
    client-fingerprint: chrome
    udp: true
    sni: ru.summer123.top
  - name: "6d64ce0c-Trojan_gRPC"
    server: ru.summer123.top
    port: 443
    type: trojan
    password: 6d64ce0c-116d-4986-b47c-2085dfd4bdc8
    network: grpc
    sni: ru.summer123.top
    udp: true
    grpc-opts:
      grpc-service-name: hrpetrojangrpc
  - name: "6d64ce0c-singbox_hysteria2"
    type: hysteria2
    server: ru.summer123.top
    port: 21775
    password: 6d64ce0c-116d-4986-b47c-2085dfd4bdc8
    alpn:
        - h3
    sni: ru.summer123.top
    up: "50 Mbps"
    down: "100 Mbps"
  - name: "6d64ce0c-vless_reality_vision"
    type: vless
    server: ru.summer123.top
    port: 443
    uuid: 6d64ce0c-116d-4986-b47c-2085dfd4bdc8
    network: tcp
    tls: true
    udp: true
    flow: xtls-rprx-vision
    servername: ru.summer123.top
    reality-opts:
      public-key: r1JUtxgVgA1J1UAyBnMcXtQ_d1R3hwSslXCPqUu1oDA
      short-id: 6ba85179e30d4fc2
    client-fingerprint: chrome
  - name: "6d64ce0c-vless_reality_grpc"
    type: vless
    server: ru.summer123.top
    port: 443
    uuid: 6d64ce0c-116d-4986-b47c-2085dfd4bdc8
    network: grpc
    tls: true
    udp: true
    servername: ru.summer123.top
    reality-opts:
      public-key: r1JUtxgVgA1J1UAyBnMcXtQ_d1R3hwSslXCPqUu1oDA
      short-id: 6ba85179e30d4fc2
    grpc-opts:
      grpc-service-name: "grpc"
    client-fingerprint: chrome
  - name: "6d64ce0c-singbox_tuic"
    server: ru.summer123.top
    type: tuic
    port: 14762
    uuid: 6d64ce0c-116d-4986-b47c-2085dfd4bdc8
    password: 6d64ce0c-116d-4986-b47c-2085dfd4bdc8
    alpn:
     - h3
    congestion-controller: bbr
    disable-sni: true
    reduce-rtt: true
    sni: 6d64ce0c-singbox_tuic
